
<%= form_for [@bucketlist, @listitem] do |f| %>
  <div>
  <%= f.label :title %>
  <%= f.text_field :title %>
  </div>
  <div>
  <%= f.label :description %>
  <%= f.text_field :description %>
  </div>
  <div>
  <input name="listitem[complete]" type="checkbox" id="complete" />
  <label for="complete">complete ?</label>
  </div>
  <div class="black-text"><%= f.submit %></div>

<% end %>

