<h3 class="center"> Details for: <%= @bucketlist.title%></h3>
<br />
<div class="container">
<div class="row">
  <% @bucketlist.listitems.each do |listitem| %>
    <div class="col s12 m6">
      <div class="card grey">
        <div class="card-content">
          <span class="card-title white-text"><%= listitem.title %>
 
        </div>
        <div class="card-action center">
          <%= link_to "Show", bucketlist_listitem_path(@bucketlist, listitem)%>
        </div>
    </div>
  </div>
<% end %>
</div>
</div>


<div class="center"><%= link_to 'Add Item to List', new_bucketlist_listitem_path(@bucketlist), class: 'btn light-green white-text'%></div><br />
<br />
<div class="center"><%= link_to 'Back', bucketlist_path(@bucketlist), class: 'btn light-green white-text'%></div>

